version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    reviewers:
      - 'cqdev-co'
    open-pull-requests-limit: 0
    groups:
      all-dependencies:
        patterns:
          - '*'

  - package-ecosystem: 'pip'
    directory: '/unusual-options-service'
    schedule:
      interval: 'weekly'
    reviewers:
      - 'cqdev-co'
    open-pull-requests-limit: 0

  - package-ecosystem: 'pip'
    directory: '/penny-stock-scanner'
    schedule:
      interval: 'weekly'
    reviewers:
      - 'cqdev-co'
    open-pull-requests-limit: 0

  - package-ecosystem: 'pip'
    directory: '/wp-service'
    schedule:
      interval: 'weekly'
    reviewers:
      - 'cqdev-co'
    open-pull-requests-limit: 0

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    reviewers:
      - 'cqdev-co'
    open-pull-requests-limit: 0
